/* HEADER */

@media (max-width: 1199px) and (min-width: 810px) {
    .header-h1{
      font-size: 82px !important;     
    }
  }
  
  @media (max-width: 809px) and (min-width: 0px) {
    .header-h1{
      font-size: 64px !important; 
    }
  }


  @media (min-width: 810px) and (max-width: 1199px) {
    .aboutme-container {
      place-content: flex-start !important;
      align-items: flex-start !important;
      flex-direction: column !important;
      gap: 40px !important;
    }
  }

  @media (max-width: 809px) {
    .aboutme-container{
      place-content: flex-start !important;
      align-items: flex-start !important;
      flex-direction: column !important;
      gap: 24px !important;
    }
  }


  @media (min-width: 810px) and (max-width: 1199px) {
    .Hero-content{
      gap: 24px !important;
      padding: 0px !important;
    }
  }


@media (max-width: 809px) {
  .framer-eT9lT .framer-45owii {
    gap: 24px!important;
    justify-content: center!important;
    padding: 0px!important;

  }
}

  @media (min-width: 810px) and (max-width: 1199px) {
    .aboutme-button-container{
      order: 1 !important;
    }
  }

  @media (max-width: 809px) and (min-width: 0px) {
    .aboutme-button-container{
      order: 1 !important;
      width: 100% !important;
    }
  }

  @media (min-width: 810px) and (max-width: 1199px) {
    .aboutme-location {
      order: 0 !important;
      width: 100% !important;
    }
  }

  @media (max-width: 809px) and (min-width: 0px) {
    .aboutme-location {
        order: 0 !important;
        width: 100% !important;
      }
  }



  /* ABOUT */


  @media (min-width: 810px) and (max-width: 1199px) {
    .About-me-container {
      place-content: flex-start !important;
      align-items: flex-start !important;
      flex-direction: column !important;
      gap: 40px !important;
    }
  }

  @media (max-width: 809px) {
    .About-me-container{
      place-content: flex-start !important;
      align-items: flex-start !important;
      flex-direction: column !important;
      gap: 24px !important;
    }
  }

  @media (max-width: 809px) and (min-width: 546px) {
    .About-me-title {
        order: 0 !important;
      }
  }

  @media (max-width: 545px) and (min-width: 0px) {
    .About_me {
        order: 0 !important;
        font-size: 60px!important;
      }
  }

  @media (min-width: 810px) and (max-width: 1199px) {
    .About-me-description {
        order: 1 !important;
        width: 100% !important;
      }
  }

  @media (max-width: 809px) and (min-width: 0px) {
    .About-me-description {
        order: 1 !important;
        width: 100% !important;
      }
  }

  @media (max-width: 809px) and (min-width: 0px) {
    .button-about{
      width: 100% !important;
    }
  }

  /* GRID */

  @media (max-width: 1199px) {
    .container {
      max-width: 1000px !important;
    }
  }

  @media (max-width: 999px) {
    .container {
      max-width: 800px !important;
      
    }
  }

  @media (max-width: 799px) {
    .container {
      max-width: 546px !important;
      
    }
  }

    @media (max-width: 545px) {
    .container {
        max-width: 424px !important;

    }
    }

  @media (max-width: 1199px) {
    .grid {
      grid-template-columns: repeat(4, 216px) !important;
      grid-template-rows: repeat(4, 216px) !important;
    }
  }

  @media (max-width: 999px) {
    .grid {
      grid-template-columns: repeat(3, 229px)!important;
      grid-template-rows: repeat(4, 229px)!important;
    }
  }
  @media (max-width: 799px) {
    .grid {
      grid-template-columns: repeat(2, 229px)!important;
      grid-template-rows: repeat(6, 229px)!important;
    }
  }
  @media (max-width: 545px) {
    .grid {
      grid-template-columns: repeat(2, 168px)!important;
      grid-template-rows: repeat(20, 168px)!important;
    }
  }

  @media (max-width: 1199px) {
    .heading-secondary {
      font-size: 23px !important;
      margin-bottom: 16px !important;
    }
  }
  
  @media (max-width: 999px) {
    .heading-secondary {
      font-size: 25px!important;
      margin-bottom: 20px!important;
    }
  }

  @media (max-width: 999px) {
    .workgrid-item-title {
      font-size: 13px!important;   
    }
  }

  @media (max-width: 545px) {
    .workgrid-item-title {
      font-size: 21px!important;   
      line-height: 27px;
    }
  }

  /*           */
/* CARD--ALL  999px*/
/*           */

  
  @media (max-width: 999px) {
    #card--github--all {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  @media (max-width: 999px) {
  #card--linkedin--all {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media (max-width: 999px) {
    #card--basketball--all {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
  @media (max-width: 999px) {
    #card--airbnb--all {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
  @media (max-width: 999px) {
    #card--formula1--all {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
  @media (max-width: 999px) {
    #card--netflix--all {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
  
  @media (max-width: 999px) {
    #card--stock--all {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  
  @media (max-width: 999px) {
    #card--education--all {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
  
  @media (max-width: 999px) {
    #card--farm--all {
      grid-column:3/4;
      grid-row: 3/4;
    }
  }
  @media (max-width: 999px) {
    #card--nobel--all {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }


  /*           */
/* CARD--ALL  799px*/
/*           */

  
@media (max-width: 799px) {
    #card--github--all {
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }

  @media (max-width: 799px) {
  #card--linkedin--all {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (max-width: 799px) {
    #card--basketball--all {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
  @media (max-width: 799px) {
    #card--airbnb--all {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  @media (max-width: 799px) {
    #card--formula1--all {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
  @media (max-width: 799px) {
    #card--netflix--all {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }
  
  @media (max-width: 799px) {
    #card--stock--all {
      grid-column: 2/3;
      grid-row: 4/5;
    }
  }
  
  @media (max-width: 799px) {
    #card--education--all {
      grid-column: 1/2;
      grid-row: 5/6;
    }
  }
  
  @media (max-width: 799px) {
    #card--farm--all {
      grid-column:2/3;
      grid-row: 5/6;
    }
  }
  @media (max-width: 799px) {
    #card--nobel--all {
      grid-column: 1/2;
      grid-row: 6/7;
    }
  }

    /*           */
/* CARD--ALL  545px*/
/*           */

  
@media (max-width: 545px) {
    #card--github--all {
      grid-column: 1/3;
      grid-row: 1/3;
    }
  }

  @media (max-width: 545px) {
  #card--linkedin--all {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}
@media (max-width: 545px) {
    #card--basketball--all {
      grid-column: 1/3;
      grid-row: 5/7;
    }
  }
  @media (max-width: 545px) {
    #card--airbnb--all {
      grid-column: 1/3;
      grid-row: 7/9;
    }
  }
  @media (max-width: 545px) {
    #card--formula1--all {
      grid-column: 1/3;
      grid-row: 9/11;
    }
  }
  @media (max-width: 545px) {
    #card--netflix--all {
      grid-column: 1/3;
      grid-row: 11/13;
    }
  }
  
  @media (max-width: 545px) {
    #card--stock--all {
      grid-column: 1/3;
      grid-row: 13/15;
    }
  }
  
  @media (max-width: 545px) {
    #card--education--all {
      grid-column: 1/3;
      grid-row: 15/17;
    }
  }
  
  @media (max-width: 545px) {
    #card--farm--all {
      grid-column:1/3;
      grid-row: 17/19;
    }
  }
  @media (max-width: 545px) {
    #card--nobel--all {
      grid-column: 1/3;
      grid-row: 19/21;
    }
  }


  /* CONTACT */

  @media (max-width: 1199px) and (min-width: 810px) {
    .contact-title-hello, .contact-title-email{
        font-size: 82px ! important;
    }
}

@media (max-width: 809px) and (min-width: 0px) {
    .contact-title-hello, .contact-title-email{
        font-size: 64px ! important;
    }
}   

@media (max-width: 1199px) and (min-width: 810px) {
    .contact-content{
        padding: 64px 60px ! important;
    }
}

@media (max-width: 809px) and (min-width: 0px) {
    .contact-content{
        padding: 40px 20px ! important;
    }
} 

@media (max-width: 809px) and (min-width: 0px) {
    .contact-container, .email-link{
        align-items: center ! important;
    }
} 

@media (max-width: 809px)  and (min-width: 0px){
    .email-link {
        place-content: center;
        
    }
  }
