/* FONT */
/* @import url(https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css);
body,html {
  padding:0;
  margin:0;
  font-family:-apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif
} */
a {
  color:inherit;
  text-decoration:none
}
* {
  box-sizing:border-box
}
h1,
h2,
h3,
h4,
h5,
p {
  margin:0
}
@font-face {
  font-family:Silka Regular;
  src:url(Silka-Regular.otf);
  font-style:normal;
  font-weight:400;
  font-display:swap
}
@font-face {
  font-family:Silka Medium;
  src:url(Silka-Medium.ttf);
  font-style:normal;
  font-weight:400;
  font-display:swap
}
@font-face {
  font-family:Silka Regular Italic;
  src:url(/fonts/Silka-Regular-Italic.woff);
  font-style:normal;
  font-weight:400;
  font-display:swap
}
@font-face {
  font-family:Moranga Bold;
  src:url(Moranga-Black.otf);
  font-style:normal;
  font-weight:400;
  font-display:swap
}

@font-face {
    font-family:Tan-Nimbus;
    src:url(TAN-NIMBUS.otf);
    font-style:normal;
    font-weight:400;
    font-display:swap
  }
/* BODY */
html {
    background: #090c10;
}

* {
box-sizing: border-box;
}

body, html {
    color:#fff;
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.project-wrapper-wrapper{
    position: absolute;
    top: 120px;
    width: 100%;
    will-change: transform, opacity;
    transition: all 0.4s ease-out 0s;
    
}

.project-wrapper-content {
    margin: 0px auto;
    max-width: 1200px;
    padding: 60px 0px;

    transition: transform 0.3s ease ; 
}

/* CONTENTT */
/* @keyframes smooth-appear {
    to{
      bottom: 20px;
      opacity:1;
    }
  } */

  @keyframes smooth-appear {
    0% {
      bottom: -15px;
    }
    100% {
      bottom: 20px;
      opacity: 1;
    }
  }
.project-meta {
    padding: 0px 60px;
    position: relative;
    /* top:0; */
  bottom: 20px;
  opacity:0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  animation: smooth-appear 0.75s ease forwards;
  
}

.typo-project{
    font-size: 39px;
    font-family: Moranga Bold ;
    line-height: 48px;
    font-weight: 300;
    color: rgb(240, 242, 248);
    margin-bottom: 8px;
  }
.project-text-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.project-p {
    font-size: 26px;
    font-family: Silka Medium;
    line-height: 40px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: rgb(240, 242, 248);
    margin-bottom: 16px;
}

.project-linktags {
    display: flex;
  }

.linktags-container{
    height: 38px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 0px 16px;
    border-radius: 19px;
    font-family: Silka Medium;
    letter-spacing: 0.25px;
    font-size: 14px;
    margin-right: 8px;
    transition: all 0.2s ease-out 0s;
    background: rgb(13, 17, 23);
    border: 2px solid rgb(48, 54, 61);
    color: rgb(240, 242, 248);
  }

  .linktags-container:hover {
    transition: all 0.2s ease-out 0s;
    cursor: pointer;
    background: #303041;
  }
  .linktags-svg-wrapper {
    margin-left: 6px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
  }
  .project-section-p {
    font-size: 15px;
    font-family: Silka Regular;
    line-height: 26px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: rgb(240, 242, 248);
    margin-bottom: 16px;
  }

.project-wrapper-button{
    position: absolute;
    width: 46px;
    height: 46px;
    top: calc(37px);
    left: calc(50% - 23px);
    border-radius: 23px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    transition: all 0.3s ease-out 0s;
    background: rgb(13, 17, 23);
    border: 2px solid rgb(48, 54, 61);
}

.project-wrapper-button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    background: #303041;
  
}

.accent {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1rem;
    pointer-events: none;
    padding-top: 60px;
  }

/* ICONE */

.project-social-media-logo {
    color: #fff;
    height: 25px;
    width: 25px;
    display: flex;
    cursor: pointer;
    
  }

  .project-social-media-logo:hover{
    color: #5c4b7b;

  }

  .icon-container {
    display: flex; /* Display its children horizontally */
    align-items: center; /* Align icons vertically in the middle */
  }
  
  .project-social-media-logo {
    margin-right: 6px; /* Add some spacing between icons (adjust as needed) */
  }

/* GRID */
.project-grid-container{
    max-width: 1200px;
    position: relative;
    margin: 32px auto 0px;
    padding-bottom: 80px;


    bottom: 20px;
  opacity:0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  animation: smooth-appear 0.75s ease forwards;
}

.project-grid-layout{
    position: relative;
  transition: height .2s ease;
  height: 608px;
}

.project-box {
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px inset;
    user-select: none;
    border-radius: 32px;
    overflow: hidden;
    background: rgb(13, 17, 23);
  }

  .project-grid-image {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    object-fit: cover;
    z-index: 10;
  }

.project-grid-item-1 {
    top: 16px;
    left: 16px;
    width: 576px;
    height: 280px;
    position: absolute;
    background-color: #fff;
  }

.project-grid-item-2 {
  top: 16px;
  left: 608px;
  width: 280px;
  height: 280px;
  position: absolute;
  background-color: #fff;
}

.project-grid-item-3  {
    top: 312px;
    left: 608px;
    width: 280px;
    height: 280px;
    position: absolute;
    background-color: #fff;
  }

  .project-grid-item-4  {
    top: 312px;
    left: 16px;
    width: 576px;
    height: 280px;
    position: absolute;
    background-color: #fff;
  }

  
  .project-grid-item-5 {
    top: 16px;
    left: 904px;
    width: 280px;
    height: 576px;
    position: absolute;
    background-color: #fff;
  
  }